/* gridstyles.css */

*	{
	padding: 0;
	margin: 0;
}

/*body	{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"header title" 
	"nav content"
	"footer footer";
}*/

.grid	{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	/*grid-template-areas:
	"navbar navbar" 
	"parralax parralax"
	"indexleft indexright"
	"footer footer"*/
}

.navbar	{
	grid-area: navbar;
	grid-column: span 2;
	grid-row: span 1;
	background-color: #b0b9f5;
	height: 35px;
	font-size: 15px;
	margin-right: 1%;
	position: fixed;
	width: 100%;
	z-index: 1;
}

ul.navitems	{
	list-style-type: none;
	margin-top: 7.5px;
	padding: 0;
	float: right;
}

li.navlist	{
	display: inline;
	padding-left: 15px;
}

.parralax	{
	grid-area: parralax;
	grid-column: span 2;
	grid-row: span 1;
	background-image: url("../images/shanghai.png");
	height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.logo	{
	position: relative;
	width: 100%;
	color: #FFFFFF;
	margin-top: 15%;
	margin-bottom: 2%;
	text-align: center;
}

.headertext	{
	position: relative;
	width: auto;
	height: auto;
	text-align: center;
	color: #FFFFFF;
	font-size: 250%;
	font-family: "Lato", sans-serif;
}

.htext2	{
	font-size: 60%;
	margin-top: 2%;
}

.indexleft	{
	grid-area: indexleft;
	grid-column: span 1;
	grid-row: span 1;
	width: 110%;
	height: auto;
	background-color: #FFFFFF;
	font-family: "Lato", sans-serif;
	text-align: justify;
	font-size: 89%;
	margin-left: 20%;
	padding-top: 5%;
}

.indexright	{
	grid-area: indexright;
	grid-column: span 1;
	grid-row: span 1;
	margin-left: 34%;
	width: 61%;
	padding-top: 5%;
	padding-left: 5%;
	background-color: #add8e6;
	
}

.footer	{
	grid-area: footer;
	grid-column: span 2;
	grid-row: span 1;
	width: auto;
	height: auto;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #003366;
	color: #FFFFFF;
	position: static;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

/* Hyperlink related items */

a	{
	font-family: "Lato", sans-serif;
	text-decoration: none;
	border: ;
	outline: 0;
	color: #000000;
}

a:hover	{
	color: #003366;
}

a:visited	{
	
}

/* Resizing options */
